header {
  height: 13vh;
  background-color: #2f3135;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-todo-form {
  border: none;
  border-radius: 6px;
  color: white;
  padding: 1.5vh 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #202225;
  transition: all 0.3s ease-in-out;
}
.open-todo-form:hover {
  background-color: #4e4e50;
}

@media screen and (max-width: 600px) {  
  .open-todo-form {
    font-size: 4vw;
    padding: 1.5vh 5vw;
  }
}
