/* Main container styling */
main {
  display: grid;
  padding-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

/* Todo item styling */
.todo {
  display: flex;
  justify-content: center;
  color: white;
}

/* Todo container styling */
.todo-div {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
  background-color: #202225;
  padding: 15px;
  border-radius: 6px;
  position: relative;
}

/* Container for todo buttons */
.todo-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Delete todo button styling */
.delete-todo {
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
  width: 1.5rem;
}

/* Priority indicator styling */
.todo-div > span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10px;
  border-radius: 6px 0 0 6px;
}

/* Priority classes styling */
.important {
  background-color: rgb(255, 153, 70);
}

.not-important {
  background-color: rgb(70, 255, 70);
}

.very-important {
  background-color: rgb(255, 70, 70);
}

/* Todo details styling */
.todo-name,
.todo-priority,
.todo-details,
.todo-deadline {
  margin: 0;
}

.todo-name {
  width: 80%;
  padding-left: 1vw;
  font-size: 1.3rem;
  overflow-wrap: break-word;
}

.todo-details {
  width: 95%;
  padding-left: 1vw;
  font-size: 1.1rem;
  padding: 3vh 0 3vh 1vw;
  overflow-wrap: break-word;
  color: rgb(198, 198, 198);
}

/* Edit button styling */
#edit {
  color: white;
  border: none;
  display: flex;
  margin-left: 1.5vw;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.5vh 1rem;
  cursor: pointer;
  background-color: #0078d7;
  transition: all 0.3s ease-in-out;
  position: relative;
}

#edit:hover {
  background-color: #3192e1;
}

#edit > img {
  width: 1rem;
  margin-left: 1rem;
}
/* Todo deadline container styling */
.todo-deadline {
  display: flex;
  align-items: center;
  font-size: 1rem;
}


